/* Generated dynamically by Wallust for Rofi */
* {
    background: {{background}};
    background-alt: {{color0}};
    foreground: {{foreground}};
    primary: {{color4}};
    secondary: {{color6}};
    accent: {{color5}};
    alert: {{color1}};
    border-col: {{color4}};
    selected: {{color4}};
    selected-fg: {{background}};
    active: {{color2}};
    urgent: {{color1}};
}
