/**
 * Wallust Dynamic Rofi Palette
 */
* {
    wallust-bg:       #141414;
    wallust-bg-alt:   #3E3E3E;
    wallust-fg:       #F5F5F5;
    wallust-fg-alt:   #E8E9E9;
    wallust-accent:   #838383;
    wallust-accent2:  #AAAAAA;
    wallust-urgent:   #474747;
    wallust-border:   #A3A3A3;
}
