configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "APPS ";
    display-run: "RUN ";
    display-window: "WIN ";
    drun-display-format: "{name}";
    font: "Maple Mono NF 12";
}

@theme "theme.rasi"
