@import "colors-swayosd.css";

window {
    background-color: @background;
    background: @background;
    border: 2px solid @accent;
    border-radius: 0px;
    padding: 12px 18px;
    font-family: "Iosevka Nerd Font", monospace;
}

#container {
    margin: 4px;
}

progressbar:disabled,
image:disabled {
    opacity: 0.5;
}

progressbar {
    min-height: 8px;
    border-radius: 0px;
    background-color: @trough;
    background: @trough;
}

trough {
    min-height: 8px;
    border-radius: 0px;
    border: none;
    background-color: @trough;
    background: @trough;
}

progress {
    min-height: 8px;
    border-radius: 0px;
    border: none;
    background-color: @accent;
    background: @accent;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: @foreground;
}

image {
    color: @foreground;
}
