* {
    background-image: none;
    box-shadow: none;
    border-radius: 0px !important;
    font-family: "Iosevka Nerd Font", monospace;
}

window {
    background-color: rgba(0, 0, 0, 0.75);
}

button {
    color: #F5F5F5;
    background-color: #3E3E3E;
    border: 2px solid #A3A3A3;
    border-radius: 0px !important;
    margin: 10px;
    font-size: 14px;
}

button:focus, button:active, button:hover {
    background-color: #838383;
    color: #141414;
    border-color: #838383;
}
